@import "tailwindcss";

.radix-themes {
  background-color: var(--amber-1);
}

.radix-themes.dark {
    background-color: var(--sand-2);
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}